<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>servletStudy</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>helloWorld</servlet-name>
		<servlet-class>top.leagle.servlet1.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloWorld</servlet-name>
		<url-pattern>/helloWorld</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>helloForm</servlet-name>
		<servlet-class>top.leagle.servlet1.HelloForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloForm</servlet-name>
		<url-pattern>/helloForm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>checkBox</servlet-name>
		<servlet-class>top.leagle.servlet1.CheckBox</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkBox</servlet-name>
		<url-pattern>/checkBox</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>/readParams</servlet-name>
		<servlet-class>top.leagle.servlet1.ReadParams</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>/readParams</servlet-name>
		<url-pattern>/readParams</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>displayHeader</servlet-name>
		<servlet-class>top.leagle.servlet1.DisplayHeader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayHeader</servlet-name>
		<url-pattern>/displayHeader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>refresh</servlet-name>
		<servlet-class>top.leagle.servlet1.Refresh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>refresh</servlet-name>
		<url-pattern>/refresh</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>showError</servlet-name>
		<servlet-class>top.leagle.servlet1.ShowError</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showError</servlet-name>
		<url-pattern>/showError</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>top.leagle.servlet1.LogFilter</filter-class>
		<init-param>
			<param-name>Site</param-name>
			<param-value>菜鸟教程</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>errorHandler</servlet-name>
		<servlet-class>top.leagle.servlet1.ErrorHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>errorHandler</servlet-name>
		<url-pattern>/errorHandler</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/errorHandler</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorHandler</location>
	</error-page>


	<servlet>
		<servlet-name>saveCookie</servlet-name>
		<servlet-class>top.leagle.servlet1.SaveCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveCookie</servlet-name>
		<url-pattern>/saveCookie</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>readCookies</servlet-name>
		<servlet-class>top.leagle.servlet1.ReadCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readCookies</servlet-name>
		<url-pattern>/readCookies</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteCookies</servlet-name>
		<servlet-class>top.leagle.servlet1.DeleteCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteCookies</servlet-name>
		<url-pattern>/deleteCookies</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sessionTrack</servlet-name>
		<servlet-class>top.leagle.servlet1.SessionTrack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sessionTrack</servlet-name>
		<url-pattern>/sessionTrack</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>databaseAccess</servlet-name>
		<servlet-class>top.leagle.servlet1.DatabaseAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>databaseAccess</servlet-name>
		<url-pattern>/databaseAccess</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>uploadServlet</display-name>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>top.leagle.servlet1.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/uploadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>currentDate</servlet-name>
		<servlet-class>top.leagle.servlet1.CurrentDate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>currentDate</servlet-name>
		<url-pattern>/currentDate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pageRedirect</servlet-name>
		<servlet-class>top.leagle.servlet1.PageRedirect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pageRedirect</servlet-name>
		<url-pattern>/pageRedirect</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pageHitCounter</servlet-name>
		<servlet-class>top.leagle.servlet1.PageHitCounter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pageHitCounter</servlet-name>
		<url-pattern>/pageHitCounter</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>SiteHitCounter</filter-name>
		<filter-class>top.leagle.servlet1.SiteHitCounter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SiteHitCounter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>sendEmail</servlet-name>
		<servlet-class>top.leagle.servlet1.SendEmail</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sendEmail</servlet-name>
		<url-pattern>/sendEmail</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>